In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
loc_case = pd.read_csv("dataset/location_cleaned.csv")
idiv_case = pd.read_csv("dataset/individual_cleaned.csv")

# 1.4 Transformation

## Group by Country, Province. 
## Take mean of Lat, Long_ and Incidence_Rate, take sum of Confirmed, Deaths, Recovered, Active
## Generage Case-Fatality_Ratio column by Deaths/Confirmed
## Drop Last_Update and Combined_Key

In [15]:
agg_method = {'Lat':'mean', 'Long_':'mean', 'Confirmed':'sum', 'Deaths':'sum', 'Recovered':'sum', 'Active':'sum', 'Incidence_Rate':'mean'}
state_lvl = loc_case.groupby(['Country_Region', 'Province_State']).agg(agg_method)
state_lvl['Case-Fatality_Ratio'] = state_lvl['Deaths']/state_lvl['Confirmed']

## After Transformation

In [16]:
state_lvl['Province_State'] = state_lvl.index.get_level_values('Province_State')
state_lvl['Country_Region'] = state_lvl.index.get_level_values('Country_Region')
state_lvl = state_lvl.reset_index(drop=True)
state_lvl

,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incidence_Rate,Case-Fatality_Ratio,Province_State,Country_Region
0,-35.473500,149.012400,113,3,110,0.0,26.395702,0.026549,Australian Capital Territory,Australia
1,-33.868800,151.209300,4200,53,2994,1153.0,51.736881,0.012619,New South Wales,Australia
2,-12.463400,130.845600,33,0,31,2.0,13.436482,0.000000,Northern Territory,Australia
3,-27.469800,153.025100,1152,6,1123,23.0,22.519793,0.005208,Queensland,Australia
4,-34.928500,138.600700,466,4,462,0.0,26.530031,0.008584,South Australia,Australia
...,...,...,...,...,...,...,...,...,...,...
554,16.742498,-62.187366,13,1,12,0.0,260.052010,0.076923,Montserrat,United Kingdom
555,54.787700,-6.492300,9165,575,0,8590.0,487.085459,0.062739,Northern Ireland,United Kingdom
556,56.490700,-4.202600,24126,2505,0,21621.0,441.601230,0.103830,Scotland,United Kingdom
557,21.694000,-71.797900,668,5,572,91.0,1725.295728,0.007485,Turks and Caicos Islands,United Kingdom
558,52.130700,-3.783700,20445,1603,0,18842.0,651.405085,0.078405,Wales,United Kingdom

# 1.5 Joining the individual cases and location dataset

In [17]:
merged = pd.merge(state_lvl, idiv_case,  how='left', left_on=['Province_State','Country_Region'], right_on = ['province','country']).dropna()
merged = merged.drop(columns = ['province', 'country'])
merged

,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incidence_Rate,Case-Fatality_Ratio,Province_State,Country_Region,age,sex,latitude,longitude,date_confirmation,outcome
1,-33.8688,151.2093,4200,53,2994,1153.0,51.736881,0.012619,New South Wales,Australia,44.0,male,-32.238340,147.004500,01.03.2020,nonhospitalized
2,-33.8688,151.2093,4200,53,2994,1153.0,51.736881,0.012619,New South Wales,Australia,42.0,female,-32.238300,147.004700,15.03.2020,nonhospitalized
3,-33.8688,151.2093,4200,53,2994,1153.0,51.736881,0.012619,New South Wales,Australia,43.0,male,-32.238340,147.004500,25.01.2020,nonhospitalized
4,-33.8688,151.2093,4200,53,2994,1153.0,51.736881,0.012619,New South Wales,Australia,24.0,male,-32.238300,147.004700,07.03.2020,nonhospitalized
5,-33.8688,151.2093,4200,53,2994,1153.0,51.736881,0.012619,New South Wales,Australia,23.0,female,-32.238300,147.004700,12.03.2020,nonhospitalized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450286,52.1307,-3.7837,20445,1603,0,18842.0,651.405085,0.078405,Wales,United Kingdom,-1.0,unknown,51.698627,-3.053533,10.05.2020,nonhospitalized
450287,52.1307,-3.7837,20445,1603,0,18842.0,651.405085,0.078405,Wales,United Kingdom,-1.0,unknown,51.743000,-3.378000,06.06.2020,nonhospitalized
450288,52.1307,-3.7837,20445,1603,0,18842.0,651.405085,0.078405,Wales,United Kingdom,-1.0,unknown,52.300000,-3.416667,15.04.2020,nonhospitalized
450289,52.1307,-3.7837,20445,1603,0,18842.0,651.405085,0.078405,Wales,United Kingdom,-1.0,unknown,53.140556,-3.770556,03.05.2020,nonhospitalized
450290,52.1307,-3.7837,20445,1603,0,18842.0,651.405085,0.078405,Wales,United Kingdom,-1.0,unknown,53.086667,-3.354444,28.05.2020,nonhospitalized

In [18]:
merged.to_csv('dataset/dataset_joined.csv', index = False)